body{
    background-color: #000;
  text-align: center;
  /* user-select: none !important; */
  
}
*{
    cursor: url('https://cdn-icons-png.flaticon.com/24/3336/3336406.png') ,auto !important;
}
cursor{
    transform: rotate(90deg) !important;
}
.Home{
    position: relative;
}
.input{
    height:35px;
    border-radius: 5px;
}
.edit-input{
    border:none;
    background:transparent;
    height:40px;
    margin-right: 10px;
}
:-ms-input-placeholder {
    font-family: 'story';

}
input[type="text"]
{
    font-family: 'story';
    font-size: 28px;
    color:brown

}

.edit-ok-btn{
      border-radius: 4px;
    border: 1px solid brown;
    width: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.list{
    background-image: url('../assests/taskbg.png');
    background-repeat: no-repeat;
  height: 500px;
  width: 600px;  
  overflow-y: auto;
  /* border:1px solid #000; */
  border-radius: 8px;
  margin: 10px auto auto auto;
  background-size: 100% 100%;
  position: relative;
  padding-top: 45px;
}

@keyframes zoom-b {
    
   0% {background-size: 100%  0%;}
   5% {background-size: 100%  5%;}
  10% {background-size: 100% 10%;}
  90% {background-size: 100% 90%;}
  15% {background-size: 100% 15%;}
  20% {background-size: 100% 20%;}
  25% {background-size: 100% 25%;}
  30% {background-size: 100% 30%;}
  35% {background-size: 100% 35%;}
  40% {background-size: 100% 40%;}
  45% {background-size: 100% 45%;}
  50% {background-size: 100% 50%;}
  55% {background-size: 100% 55%;}
  60% {background-size: 100% 60%;}
  65% {background-size: 100% 65%;}
  70% {background-size: 100% 70%;}
  75% {background-size: 100% 75%;}
  80% {background-size: 100% 80%;}
  85% {background-size: 100% 85%;}
  95% {background-size: 100% 95; }
  100%{background-size: 100% 100%;}
}
@keyframes zoom-a {
    
       /* 0% {height:500px;}
   10% {height:450px;}
  20% {height:400px;}
  30% {height:350px;}
  40% {height:300px;}
  50% {height:250px;}
  60% {height:200px;}
  70% {height:150px;}
  80% {height:100px;}
  90% {height:50px;}
  100% {height:25px;overflow:hidden} */
  0% {background-size: 100% 100%;}
  5% {background-size: 100% 95%;}
  10% {background-size: 100% 90%;}
  15% {background-size: 100% 85%;}
  20% {background-size: 100% 80%;}
  25% {background-size: 100% 75%;}
  30% {background-size: 100% 70%;}
  35% {background-size: 100% 65%;}
  40% {background-size: 100% 60%;}
  45% {background-size: 100% 55%;}
  50% {background-size: 100% 50%;}
  55% {background-size: 100% 45%;}
  60% {background-size: 100% 40%;}
  65% {background-size: 100% 35%;}
  70% {background-size: 100% 30%;}
  75% {background-size: 100% 25%;}
  80% {background-size: 100% 20%;}
  85% {background-size: 100% 15%;}
  90% {background-size: 100% 10%;}
  95% {background-size: 100% 8%;}
  100% {background-size: 100% 5%;}
}
.list-ul{
/* position: absolute;
left:120px;
top:40px; */
padding: 50px 123px 25px;
max-width:400px;
max-height: 350px;
 overflow-y: auto;
}

li{
    text-align: left;
    border:1px solid #000;
    border-radius: 8px;
    padding:5px;
    margin:5px;
    word-break: break-all;
    /* width: 160px; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: brown;
    font-family: 'story';
    min-width:340px;
    max-width:340px;
    font-size: 28px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;

}


.control-img{
    margin-left: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    /* border-bottom: 1px solid #000; */
}


.heading{
    font-family: 'Harry Potter';
    font-size: 40px;
    color:#fff

}




.story{font-family: 'story';}
.harry{font-family: 'Harry Potter';}
.f-30{font-size:30px;color:#fff}
.f-40{font-size:40px;color:#fff}
.li-div{
    position: relative;
}
.arrow{
     /* height: 20px;
    width: 20px;
    position: absolute;
    left:-20px;
    top:10px; */
    position: absolute;
    left: -50px;
    top: 5px;
    height: 20px;
    width: 20px;
}
.task-complete{

    position: absolute;
    left: -40px;
    top: -10px;
    /* background-color: #9df000a3; */
    border-radius: 8px;
    padding:3px;
    font-size: 12px;
}
.check-ctrl{
color: #9df000a3
}

.dumb-img{
    position: absolute;
    height: 200px;
    width: 400px;
    top: 60px;
    left: 70px;
}

.hogwarts-img{
       position: absolute;
    height: 700px;
    width: 450px;
    top: 80px;
    right: 100px;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1)),linear-gradient(to right,rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)),url('../assests/har.png');
    /* background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,1)),url('../assests/har.png'); */
    background-size:100% 100%
}







.line-through{
      text-decoration: line-through;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar :hover {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:brown; 
}
