body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.df{display:flex}
.dfjc{display: flex;justify-content:center}
.dbjc{display: block;justify-content:center}
.fw{flex-wrap: nowrap;}
.ac{align-items:center;}
.space{justify-content:space-between}



.m-10{margin: 10px;}
.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}
.mb-10{margin-bottom: 10px;}
.mt-10{margin-top: 10px;}
.ma{margin:auto}

.p-10{padding: 10px;}
.pl-10{padding-left: 10px;}
.pr-10{padding-right: 10px;}
.pb-10{padding-bottom: 10px;}
.pt-10{padding-top: 10px;}


/* Font */
@font-face {
  font-family: 'Harry Potter';
  src: local('Harry Potter'), url(./font/harry-potter/HarryPotter-ov4z.ttf) format('truetype');
}
@font-face {
  font-family: 'story';
  src: local('story'), url(./font/story-maker/StoryMakerGtDemo-qZmqV.ttf) format('truetype');
}


.brown{color:brown}
.red{color:red}
.green{color:green}
.white{color:white}
.black{color:black}
